<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/static/css/reset.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <main class="main">
      <div class="container">
        <form
          action="../api/add_plate"
          method="post"
          enctype="multipart/form-data"
        >
          <p class="message">Добавить прием пищи</p>
          <div class="dish__info">
            <p class="dish__title">Название</p>
            <input
              name="name"
              class="input input_grey"
              style="margin-bottom: 12px"
              type="text"
              maxlength="100"
              placeholder="Мясо"
              required
            />
            <p class="dish__title">Тип</p>
            <select class="js-choice_type" name="plate_type">
              <option value="" selected>Введите тип</option>
              <option value="1">Завтрак</option>
              <option value="2">Обед</option>
              <option value="3">Ужин</option>
            </select>
          </div>
          <div class="dish__item">
            <p class="dish__title">Блюдо 1</p>
            <select name="meal_id1" class="js-choice_1 choice-energy">
              <option value="" selected>Введите блюдо</option>
            </select>
            <!-- <p class="dish__title">% в тарелке</p>
            <input
              name="meal_percentage1"
              class="input input_grey"
              type="number"
              maxlength="100"
              placeholder="Введите количество на 1 порцию"
              required
            /> -->
            <div class="percentages">
              <p class="step__title">% в тарелке</p>
              <div class="percentages-flex">
                <div class="step__inner">
                  <input
                    checked
                    type="radio"
                    name="meal_percentage1"
                    class="step__margin"
                    id="percentage1_1"
                  /><label for="percentage1_1">25%</label>
                </div>
                <div class="step__inner">
                  <input
                    type="radio"
                    name="meal_percentage1"
                    class="step__margin"
                    id="percentage2_1"
                  /><label for="percentage2_1">33%</label>
                </div>
                <div class="step__inner">
                  <input
                    type="radio"
                    name="meal_percentage1"
                    class="step__margin"
                    id="percentage3_1"
                  /><label for="percentage3_1">50%</label>
                </div>
                <div class="step__inner">
                  <input
                    type="radio"
                    name="meal_percentage1"
                    class="step__margin"
                    id="percentage4_1"
                  /><label for="percentage4_1">100%</label>
                </div>
              </div>
            </div>
          </div>

          <div class="buttons">
            <button class="dish__add">Добавить блюдо</button>
            <button disabled class="dish__remove">Удалить блюдо</button>
          </div>
          <p class="dish__calories" style="margin-top: 16px">
            Общее КБЖУ приема пищи: 0 / 0 / 0 / 0
          </p>
          <input id="tg_id" name="tg_id" type="hidden" value="459471362" />
          <div class="steps">
            <p class="step__title">Следующий шаг</p>
            <div class="steps-flex">
              <div class="step__inner">
                <input
                  selected
                  type="radio"
                  name="next_step"
                  class="step_radio"
                  id="close"
                /><label for="close">Закрыть окно</label>
              </div>
              <div class="step__inner">
                <input
                  type="radio"
                  name="next_step"
                  class="step_radio"
                  id="add-ingredient"
                /><label for="add-ingredient">Добавить ингридиент</label>
              </div>
              <div class="step__inner">
                <input
                  type="radio"
                  name="next_step"
                  class="step_radio"
                  id="add-dish"
                /><label for="add-dish">Добавить блюдо</label>
              </div>
              <div class="step__inner">
                <input
                  checked
                  type="radio"
                  name="next_step"
                  class="step_radio"
                  id="add-meal"
                /><label for="add-meal">Добавить прием пищи</label>
              </div>
            </div>
          </div>
          <div class="error">
            Вы ввели данные некорректно, проверьте пожалуйста
          </div>
          <button class="button_submit" type="submit">Сохранить</button>
        </form>
      </div>
    </main>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>
    <script src="/static/js/add_plate.js"></script>
  </body>
</html>
