<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/static/css/reset.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <main class="main">
      <div class="container">
        <form
          action="../api/add_meal"
          method="post"
          enctype="multipart/form-data"
        >
          <p class="message">Добавить блюдо</p>
          <div class="dish__info">
            <p class="dish__title">Название</p>
            <input
              class="input input_grey"
              type="text"
              maxlength="100"
              placeholder="Мясо"
              required
            />
          </div>
          <div class="dish__item">
            <p class="dish__title">Ингридиент 1 (в мере "ладонь")</p>
            <select class="js-choice_1">
              <option value="" selected>Введите ингридиент</option>
              <option value="1">Кафе</option>
              <option value="2">Финтес клуб</option>
              <option value="3">Пиццерия</option>
              <option value="4">Реклама</option>
              <option value="5">Салон красоты</option>
              <option value="6">Шаурмичная</option>
              <option value="7">Бургерная</option>
              <option value="8">Кальянная</option>
              <option value="9">Суши-бар</option>
              <option value="10">Интернет-магазин</option>
              <option value="11">Рыбалка</option>
              <option value="12">Пчеловодство</option>
              <option value="13">Медицина</option>
              <option value="14">Маркетинг</option>
            </select>
            <p class="dish__title">Количество</p>
            <input
              class="input input_grey"
              type="number"
              maxlength="100"
              placeholder="Введите количество на 1 порцию"
              required
            />
            <div class="dish__amount">450 / 10 / 20 / 4</div>
          </div>
          <button class="dish__add">Добавить ингридиент</button>
          <div class="dish__recepi">
            <p class="dish__title">Рецепт</p>
            <textarea
              placeholder="Введите ингридиент"
              class="dish__textarea"
              name=""
              id=""
            ></textarea>
          </div>
          <p class="dish__calories">Общее КБЖУ блюда: 300/20/10/3</p>
          <button class="button_submit" type="submit">Сохранить</button>
        </form>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
