<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div class="loading">
      <div class="lds-heart"><div></div></div>
    </div>
    <main class="main">
      <div class="container">
        <form
          id="form"
          action="../api/add_meal"
          method="post"
          enctype="multipart/form-data"
        >
          <p class="message">Добавить блюдо</p>
          <div class="dish__info">
            <p class="dish__title">Название</p>
            <input
              name="name"
              class="input input_grey"
              type="text"
              maxlength="100"
              placeholder="Мясо"
              required
            />
          </div>
          <div class="dish__item">
            <p class="dish__title">
              Ингридиент 1 <span class="dish__title-measure"></span>
            </p>
            <select name="ingredient_id1" class="js-choice_1">
              <option value="" selected>Введите ингридиент</option>
            </select>
            <p class="dish__title">Количество</p>
            <input
              name="ingredient_amount1"
              class="input input__amount input_grey"
              type="number"
              maxlength="100"
              step="any"
              placeholder="Введите количество на 1 порцию"
              required
            />
            <div class="dish__amount dish__amount1">0 / 0 / 0 / 0</div>
          </div>
          <div class="buttons">
            <button class="dish__add">Добавить ингридиент</button>
            <button disabled class="dish__remove">Удалить ингридиент</button>
          </div>
          <div class="dish__recepi">
            <p class="dish__title">Рецепт</p>
            <textarea
              placeholder="Введите ингридиент"
              class="dish__textarea"
              name="recipe"
            ></textarea>
          </div>
          <p class="dish__calories">Общее КБЖУ блюда: 0 / 0 / 0 / 0</p>
          <div class="dish__info">
            <p class="dish__title">Время приготовления</p>
            <div class="input__relative">
              <input
                name="recipe_time"
                class="input input_grey input_pfc"
                type="number"
                maxlength="100"
                placeholder="Введите время приготовления"
                required
              /><span class="cal">минут</span>
            </div>
            <p class="dish__title">Время активного приготовления</p>
            <div class="input__relative">
              <input
                name="recipe_active_time"
                class="input input_grey input_pfc"
                type="number"
                maxlength="100"
                placeholder="Введите время активного приготовления"
                required
              /><span class="cal">минут</span>
            </div>
            <p class="dish__title">Общая сложность блюда</p>
            <div class="input__relative">
              <input
                name="recipe_difficulty"
                class="input input_grey input_pfc"
                type="number"
                maxlength="100"
                placeholder="Введите общую сложность рецепта от 1 до 5"
                required
              />
            </div>
          </div>
          <div class="steps">
            <p class="step__title">Следующий шаг</p>
            <div class="steps-flex">
              <div class="step__inner">
                <input
                  type="radio"
                  name="next_step"
                  class="step_radio"
                  id="close"
                /><label for="close">Закрыть окно</label>
              </div>
              <div class="step__inner">
                <input
                  type="radio"
                  name="next_step"
                  class="step_radio"
                  id="add-ingredient"
                /><label for="add-ingredient">Добавить ингридиент</label>
              </div>
              <div class="step__inner">
                <input
                  checked
                  type="radio"
                  name="next_step"
                  class="step_radio"
                  id="add-dish"
                /><label for="add-dish">Добавить блюдо</label>
              </div>
              <div class="step__inner">
                <input
                  type="radio"
                  name="next_step"
                  class="step_radio"
                  id="add-meal"
                /><label for="add-meal">Добавить прием пищи</label>
              </div>
            </div>
          </div>
          <div class="error">
            Вы ввели данные некорректно, проверьте пожалуйста
          </div>
          <button class="button_submit" type="submit">Сохранить</button>
        </form>
      </div>
    </main>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>
    <script src="/static/js/add_meal.js"></script>
  </body>
</html>
