<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css"
    />
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <main class="main">
      <div class="container">
        <div class="title-flex">
          <p class="goal__title">Составить рацион на сегодня</p>
          <p class="meal-type"><a href="../choose_lunch">Обед</a> — Ужин</p>
        </div>
        <div class="two__eat__buttons" style="margin-bottom: 16px">
          <a href="../favorites" class="eat__button">Выбрать из избранного</a>
          <a href="../main" class="eat__button">На главную</a>
        </div>
        <section class="cards"></section>
        <hr class="hr hr-20" />
        <div class="title-flex title-flex-8">
          <p class="goal__title">Все блюда</p>
          <p class="sort-title">Сортировать по:</p>
        </div>
        <select class="js-choice_type" name="plate_type">
          <option value="" selected>По рекомендуемым</option>
          <option value="1">Простые > Сложные</option>
          <option value="2">Сложные > Простые</option>
          <option value="3">Быстрые -> Долгие</option>
          <option value="4">Долгие -> Быстрые</option>
        </select>
        <section class="cards-mini"></section>
      </div>
    </main>
    <div class="popup popup_hidden">
      <div class="popup__inner">
        <p class="popup__plate-title">
          “Название блюда длинasdf adsf asdf asd fasd fasdfasd”
        </p>
        <div class="exit">
          <img src="../static/images/exit.svg" alt="exit" />
        </div>
        <div class="popup__meal popup__meal1">
          <p class="popup__meal-title">1. Жареное мясо</p>
          <p class="popup__ingredients">Ингредиенты:</p>
          <div class="popup__ingredients-flex">
            <div class="popup__ingredients1">
              <p class="popup__ingredients__title">1. Мясо</p>
              <p class="popup__ingredients__amount">количество: 3</p>
              <p class="popup__ingredients__measure">мера: Ладонь</p>
            </div>
            <div class="popup__ingredients2">
              <p class="popup__ingredients__title">2. Мясо</p>
              <p class="popup__ingredients__amount">количество: 3</p>
              <p class="popup__ingredients__measure">мера: Ладонь</p>
            </div>
            <div class="popup__ingredients3">
              <p class="popup__ingredients__title">3. Мясо</p>
              <p class="popup__ingredients__amount">количество: 3</p>
              <p class="popup__ingredients__measure">мера: Ладонь</p>
            </div>
          </div>
          <p class="popup__recepi">Рецепт:</p>
          <p class="popup__recepi__text">
            Отбейте мясо, налейте масло, пожарьте и положите на тарелку
          </p>
          <div class="popup__time">
            <div class="popup__time-flex">
              <p class="popup__time-current">Активное время (минут)</p>
              <p class="popup__time-current__value">20</p>
            </div>
            <div class="popup__time-flex">
              <p class="popup__time-total">Общее время (минут)</p>
              <p class="popup__time-total__value">40</p>
            </div>
          </div>
          <hr class="hr hr-20" />
        </div>
      </div>
    </div>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>
    <script src="../static/js/choose_dinner.js"></script>
  </body>
</html>
