<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body style="overflow: hidden">
    <div class="loading">
      <div class="lds-heart"><div></div></div>
    </div>
    <main class="main">
      <div class="container">
        <div class="title-flex">
          <p class="goal__title">Составить рацион на сегодня (завтрак)</p>
          <p class="meal-type">Избранное</p>
        </div>
        <div class="two__eat__buttons" style="margin-bottom: 16px">
          <a href="../choose_breakfast" class="eat__button back-button"
            >Назад</a
          >
          <a href="../main" class="eat__button">На главную</a>
        </div>
        <p class="empty-list empty-list_hidden">
          Пока что Вы ничего не добавили в избранное
        </p>
        <section class="cards"></section>
      </div>
    </main>
    <div class="popup popup_hidden">
      <div class="popup__inner">
        <p class="popup__plate-title">
          “Название блюда длинasdf adsf asdf asd fasd fasdfasd”
        </p>
        <div class="exit">
          <img src="../static/images/exit.svg" alt="exit" />
        </div>
        <div class="popup__meal popup__meal1">
          <p class="popup__meal-title">1. Жареное мясо</p>
          <p class="popup__ingredients">Ингредиенты:</p>
          <div class="popup__ingredients-flex">
            <div class="popup__ingredients1">
              <p class="popup__ingredients__title">1. Мясо</p>
              <p class="popup__ingredients__amount">количество: 3</p>
              <p class="popup__ingredients__measure">мера: Ладонь</p>
            </div>
            <div class="popup__ingredients2">
              <p class="popup__ingredients__title">2. Мясо</p>
              <p class="popup__ingredients__amount">количество: 3</p>
              <p class="popup__ingredients__measure">мера: Ладонь</p>
            </div>
            <div class="popup__ingredients3">
              <p class="popup__ingredients__title">3. Мясо</p>
              <p class="popup__ingredients__amount">количество: 3</p>
              <p class="popup__ingredients__measure">мера: Ладонь</p>
            </div>
          </div>
          <p class="popup__recepi">Рецепт:</p>
          <p class="popup__recepi__text">
            Отбейте мясо, налейте масло, пожарьте и положите на тарелку
          </p>
          <div class="popup__time">
            <div class="popup__time-flex">
              <p class="popup__time-current">Активное время (минут)</p>
              <p class="popup__time-current__value">20</p>
            </div>
            <div class="popup__time-flex">
              <p class="popup__time-total">Общее время (минут)</p>
              <p class="popup__time-total__value">40</p>
            </div>
          </div>
          <hr class="hr hr-20" />
        </div>
      </div>
    </div>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="../static/js/favorites.js"></script>
  </body>
</html>
