<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div class="loading">
      <div class="lds-heart"><div></div></div>
    </div>
    <main class="main">
      <div class="container">
        <form method="post" enctype="multipart/form-data">
          <p class="message">Обновить профиль</p>
          <div class="two__eat__buttons" style="margin-bottom: 16px">
            <a href="../main" class="eat__button">На главную</a>
          </div>
          <div class="ingredient__info">
            <p class="dish__title">Рост</p>
            <input
              name="height"
              class="input input_grey"
              type="number"
              maxlength="100"
              placeholder="Введите рост"
              required
            />
          </div>
          <p class="dish__title">Введите дату</p>
          <div class="input__relative">
            <input name="date" class="input input_grey" type="date" required />
          </div>
          <div class="error">
            Вы ввели данные некорректно, проверьте пожалуйста
          </div>
          <div class="fixed-button">
            <button class="button_submit" type="submit">Сохранить</button>
          </div>
        </form>
      </div>
    </main>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>
    <script src="/static/js/update_profile.js"></script>
  </body>
</html>
