body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background-color: #fff;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #05ff00;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #05ff00;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

body::-webkit-scrollbar {
  width: 4px;
  background-color: #fcfcfc;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(5 255 0 / 80%);
}

body {
  scrollbar-width: 4px; /* Для Firefox */
  background-color: #fcfcfc;
}

.loading {
  z-index: 11;
  background-color: #fff;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading_hidden {
  transition: 0.5s;
  pointer-events: none;
  opacity: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 24px;
  margin-right: 24px;
  max-width: 1200px;
}

.section-person {
  margin-bottom: 28px;
}

.coin {
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.coin__logo {
  margin-right: 12px;
}

.coin__amount {
  margin-right: 20px;
  color: #303030;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.coin__help {
  padding: 6px 16px;
  border-radius: 64px;
  background: #303030;
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hr {
  background-color: #d9d9d9;
  width: 100%;
  height: 1.2px;
}

.hr-20 {
  margin: 20px 0px;
}

.right-line-text {
  margin-right: 8px;
  text-align: right;
}

.middle-line-text {
  margin-top: 8px;
  text-align: center;
}

.hr-between-lines {
}

.left-line-text {
  margin-left: 8px;
  text-align: left;
}

.left-line {
  align-self: flex-start;
}

.right-line {
  align-self: flex-end;
}

.stick-progress__lines__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.stick-progress__lines__inner_left {
  align-self: flex-start;
}
.stick-progress__lines__inner_middle {
}
.stick-progress__lines__inner_right {
  align-self: flex-end;
}

.left-line-text,
.middle-line-text,
.right-line-text {
  color: #303030;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.person-info,
.progress-info {
  margin: 16px 8px 12px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #303030;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.progress-info {
  margin: 12px 0px 28px;
}

.person-info__item,
.progress-info__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.goal {
  margin-top: 24px;
  margin-left: 8px;
  margin-bottom: 12px;
}

.person-info__title,
.goal__title,
.progress-info__title {
  color: #303030;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.progress-info__value {
  color: #303030;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.goal__weight_current {
  color: #303030;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.goal__weight_remaining {
  color: #d9d9d9;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.person-info__item:nth-child(1),
.progress-info__item:nth-child(1) {
  align-items: start;
}
.person-info__item:nth-child(2),
.progress-info__item:nth-child(2) {
  align-items: center;
}
.person-info__item:nth-child(3),
.progress-info__item:nth-child(3) {
  align-items: end;
}

.person-info__value {
  color: #303030;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.edit__inner {
  display: flex;
  justify-content: space-between;
}

.edit__line {
  margin-top: -7px;
}

.edit__link,
.sort-title {
  color: #303030;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sort-title {
  text-align: left;
}

.strick {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.stick-progress__lines {
  display: flex;
  gap: 6px;
  margin-bottom: 8px;
}

.strick-coins {
  text-align: right;
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
  color: #303030;
  text-align: right;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.strick-progress {
  display: flex;
  gap: 6px;
}

.strick-progress__bar {
  width: 100%;
  background-color: #d9d9d9;
  height: 6px;
  border-radius: 3px;
}

.strick-progress__bar_green {
  background-color: #05ff00;
}

.strick__title {
  color: #303030;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.strick__time {
  color: #303030;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.notion {
  padding: 0px 8px;
  margin-bottom: 30px;
}

.notion__p {
  color: #303030;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.notion__p_bold {
  color: #303030;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.flex-12 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.flex-8 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkbox {
  margin: 8px 0px 12px;
}

.checkbox__inner {
  color: #303030;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}

.buttons {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.stats {
  margin: 28px 8px 12px;
}

.canvas-container {
  padding: 16px 20px 10px 16px;
  border-radius: 20px;
  border: 2px dashed #eee;
}

.canvas-flex {
  margin-bottom: 4px;
  margin-left: 26px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.canvas-item {
  display: flex;
  gap: 4px;
}

.canvas-title {
  color: #303030;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.canvas-value {
  color: #303030;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.plate {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 28px;
}

.plate__size,
.date,
.diet,
.stat {
  color: #303030;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.stat {
  margin-left: 8px;
  margin-bottom: 12px;
}

.plate__size_value,
.calories {
  color: #303030;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.current-progress {
  margin-bottom: 12px;
}

.progress {
  position: relative;
}

.progress__background {
  background-color: #d9d9d9;
  height: 6px;
  border-radius: 3px;
}

.progress__foreground {
  top: 0;
  left: 0;
  width: 30%;
  position: absolute;
  height: 6px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #05ff00;
}

.progress__mark {
  top: 0;
  left: 0;
  margin-left: 80%;
  position: absolute;
  height: 6px;
  width: 4px;
  background-color: #fff;
}

.progress__marks {
  position: relative;
  margin-top: 4px;
}

.progress__start,
.progress__end {
  color: #303030;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.progress__end {
  top: 0;
  left: calc(80% - 27px);
  position: absolute;
}

.diet {
  margin-bottom: 12px;
}

.list {
  margin-top: 8px;
  margin-bottom: 12px;
  color: #303030;
  margin-left: 33px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}

.list__item {
  position: relative;
}

.list__item__marker {
  margin-left: -32px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1.5px solid #000000;
  transition: background-color 0.3s ease;
  border: #fff;
  background-color: #fff;
  height: 8px;
  width: 8px;
  border-radius: 3px;
  box-shadow: 0px 0px 0px 1px;
  border-width: 2px;
  border: 1px solid #fff;
}

.list__item__marker_active {
  background-color: #05ff00;
}

.eat__buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.two__eat__buttons {
  width: 100%;
  display: flex;
  gap: 8px;
}

.eat__buttons-single {
  display: block;
  width: 100%;
}

.eat__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 70px;
  padding: 0 28px;
  border-radius: 20px;
  border: 1.5px dashed #303030;
  color: #303030;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.eat__buttons-single_hidden {
  display: none;
}

.empty-list {
  color: #d9d9d9;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 8px;
}

.empty-list_hidden {
  display: none;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.popup__inner {
  position: relative;
  overflow: auto;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 24px 32px;
}

.popup-win .popup__inner {
  overflow-x: hidden;
}

.popup__inner::-webkit-scrollbar {
  width: 4px;
  background-color: #fcfcfc;
}

.popup__inner::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(5 255 0 / 80%);
}

.popup_hidden {
  display: none;
}

.popup__ingredients-flex {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.popup__meal-title,
.popup__ingredients,
.popup__recepi {
  color: #303030;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}

.popup__ingredients {
  font-size: 16px;
  margin-bottom: 12px;
}

.popup__recepi {
  font-size: 16px;
  margin-bottom: 8px;
}

.number-indicator {
  display: inline-block;
  width: 9px;
  text-align: right;
}

.win-player {
  pointer-events: none;
  margin-top: -20px;
  scale: 1.2;
  width: 100%;
  height: fit-content;
  aspect-ratio: 1 !important;
}

.popup__ingredients__title {
  color: #303030;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
}

.popup__ingredients__amount,
.popup__ingredients__measure {
  margin-left: 13px;
  color: #303030;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.popup__recepi__text {
  color: #303030;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 18px;
}

.popup__time {
  display: flex;
  gap: 32px;
  margin-bottom: 20px;
}

.popup__time-total,
.popup__time-current {
  color: #303030;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}

.popup__time-current__value,
.popup__time-total__value {
  color: #303030;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

.popup__meal:last-of-type hr {
  display: none;
}

.popup__plate-title {
  margin-right: 54px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #d9d9d9;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 16px;
}

.exit {
  cursor: pointer;
  top: 24px;
  right: 32px;
  position: absolute;
}

.popup__inner_flex {
  display: flex;
  flex-direction: column;
}

.animation {
  flex: 1;
  background-color: #a1b4a1;
  height: 100%;
  width: 100%;
  margin-bottom: 16px;
}

.popup__plate-title_right {
  padding-bottom: 22px;
  align-self: flex-start;
  margin-bottom: 0px;
}

.text-center {
  text-align: center;
}

.feedback-instruction {
  color: #303030;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 24px;
}

.button {
  transition: 0.3s ease;
  width: 100%;
  min-height: 46px;
  color: #303030;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 16px;
  background: #05ff00;
}

.button_get-stats {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 16px;
  background: #05ff00;
  color: #303030;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button_ask-question {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 16px;
  background: #303030;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mg-32 {
  margin-bottom: 32px;
}

.star svg {
  transition: 0.3s;
  fill: #d9d9d9;
  cursor: pointer;
}

.star.active svg {
  fill: #05ff00;
}

.choose-stars {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.flex-1 {
  flex: 1;
}

.brain-animation {
  opacity: 1;
  transition: opacity 0.5s;
  background-color: #fff;
  position: fixed;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
}

.brain-animation_hidden {
  opacity: 0;
}

/* card */

.cards,
.cards-mini {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  border-radius: 36px;
  background: #fafafa;
  box-shadow: 1px 2px 8px -1px rgba(0, 0, 0, 0.18);
  margin-left: 4px;
  margin-right: 4px;
  padding: 16px 20px 20px;
}

.card__type {
  margin: 0 auto;
  width: fit-content;
  padding: 4px 12px;
  border-radius: 32px;
  background: #303030;
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}

.card__calories {
  color: #303030;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2px;
}

.card__meal {
  color: #303030;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}

.card__meal-mini {
  margin-bottom: 8px;
}

.card__visual {
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  position: relative;
}

.card__plate {
  max-height: 230px;
}

.card__plate_size {
  min-width: 48px;
  display: flex;
  margin-left: 4px;
  align-items: center;
  justify-content: center;
}

.plate__size-title {
  transform: rotate(90deg);
}

.plate__size-title {
  color: #303030;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card__list-description,
.card__difficulty,
.active-time,
.total-time {
  margin-bottom: 4px;
  color: #303030;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.active-time,
.total-time {
  margin-bottom: 2px;
}

.card__list,
.total-time_value,
.active-time_value {
  margin-bottom: 8px;
  color: #303030;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.total-time_value {
  margin-bottom: 8px;
}

.active-time_value {
  margin-bottom: 20px;
}

.card__stars {
  text-align: center;
  margin-bottom: 8px;
}

.card__buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__button__recepi,
.card__button__favourites {
  height: 40px;
  /* padding: 12px 0px; */
  width: 100%;
  border-radius: 32px;
  background: #303030;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card__button__choose {
  height: 40px;
  /* padding: 12px 0px; */
  width: 100%;
  border-radius: 32px;
  background: #05ff00;
  color: #303030;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card__button__choose_off {
  background: transparent;
  border: 2px solid #05ff00;
}

.card__button__favourites_off {
  color: #303030;
  background: transparent;
  border: 2px solid #303030;
}

canvas {
  // aspect-ratio: 16/9 !important;
 // width: 100% !important;
  //	height: 100% !important;
}

.meal-type,
.stat-title {
  color: #303030;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.graphic-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stat-title {
  margin-left: 8px;
  margin-bottom: 8px;
}

.meal-type a {
  color: #d9d9d9;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

.title-flex {
  margin-left: 8px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title-flex-8 {
  gap: 8px;
  margin-bottom: 8px;
}

.choices {
  margin-bottom: 16px !important;
}

.choices__list--single {
  padding: 0;
}

.choices[data-type*="select-one"]:after {
  transition: 0.3s ease-out;
  width: 26px;
  margin-right: 10px;
  height: 8px;
  background-repeat: no-repeat;
  background-image: url(../images/arrow.svg);
  border-style: none;
}

.choices[data-type*="select-one"].is-open:after {
  width: 26px;
  height: 8px;
  top: 62%;
  margin-right: 10px;
  background-repeat: no-repeat;
  transform: rotateX(180deg);
  background-image: url(../images/arrow.svg);
  border-style: none;
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__inner {
  /* color: #b7b7b7; */
  color: #303030;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: #fff;
  height: 40px;
  min-height: 40px !important;
  padding: 13px 20px;
  overflow: hidden;
  border-radius: 20px;
  border: 1.2px solid #303030;
}

.filters-choices .choices__inner {
  height: 36px;
  padding: 5px 0px 0px 20px;
  min-height: 36px;
}

.filters-choices .choices[data-type*="select-one"] .choices__input {
  padding: 10px 10px 10px 24px;
}

.filters-choices .choices__list--dropdown .choices__item {
  padding: 10px 10px 10px 24px;
}

.is-open .choices__inner {
  border-radius: 20px;
  border: 1.2px solid #303030;
}

.is-flipped.is-open .choices__inner {
  border-radius: 20px;
  border: 1.2px solid #303030;
}

.is-focused .choices__inner {
  border-radius: 20px;
  border: 1.2px solid #303030;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: #05ff00;
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown .choices__item {
  padding: 10px 10px 10px 28px;
  height: 35px;
}

.choices[data-type*="select-one"] .choices__input {
  display: block;
  width: 100%;
  padding: 10px 10px 10px 28px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  margin: 0;
}

.choices__list--dropdown .choices__list {
  max-height: 200px;
}

.choices__list--dropdown .choices__list::-webkit-scrollbar {
  width: 4px;
  background-color: #fcfcfc;
}

.choices__list--dropdown .choices__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d9d9d9;
}

.choices__list--dropdown {
  opacity: 1;
  margin-top: 1px;

  border-radius: 20px;
  border: 1.2px solid #303030;
}

.is-open .choices__list--dropdown {
  opacity: 1;
  margin-top: 1px;
  border-radius: 20px;
  border: 1.2px solid #303030;
}

.mg-20 {
  margin-bottom: 20px;
}

.error {
  margin: 0px -8px;
  display: none;
  color: #303030;
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 16px;
  border: 1.2px solid #f00;
  padding: 16px 20px;
  text-align: center;
  margin-bottom: 20px;
}

.error_active {
  display: block;
}

.br-error {
  display: none;
}

.stat-title {
  font-size: 20px;
}

@media (max-width: 530px) {
  .error {
    text-align: left;
  }

  .br-error {
    display: block;
  }
}

@media (max-width: 360px) {
  .plate__arrow img {
    width: 80%;
  }
}
