body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background-color: #fff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}

.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #05ff00;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #05ff00;
}

.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

body::-webkit-scrollbar {
  width: 4px;
  background-color: #fcfcfc;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(5 255 0 / 80%);
}

body {
  scrollbar-width: 4px;
  background-color: #fcfcfc;
}

.loading {
  z-index: 11;
  background-color: #fff;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading_hidden {
  transition: 0.5s;
  pointer-events: none;
  opacity: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 24px;
  margin-right: 24px;
  max-width: 1200px;
}

.message {
  color: #303030;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 8px;
  margin-bottom: 20px;
}

.dish__title {
  margin-left: 8px;
  margin-bottom: 4px;
  color: #303030;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dish__info {
  margin-bottom: 24px;
}

.dish__amount {
  margin-top: 8px;
  margin-left: 20px;
  color: #303030;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input {
  width: 100%;
  padding: 14px 20px;
  color: #303030;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #fff;
  height: 40px;
  border-radius: 20px;
  border: 1.2px solid #303030;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}

.dish__add,
.dish__remove {
  transition: 0.3s ease;
  cursor: pointer;
  text-align: center;
  width: 100%;
  padding: 28px 0px;
  color: #303030;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 20px;
  border: 1.5px dashed #303030;
}

.dish__remove {
  display: none;
}

.add-ingredient,
.dish__remove_active {
  display: block;
}

.dish__recepi {
  margin-top: 28px;
}

.dish__textarea {
  margin-bottom: 12px;
  color: #303030;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 14px 20px;
  width: 100%;
  min-height: 150px;
  resize: none;
  border-radius: 20px;
  border: 1.2px solid #303030;
}

.dish__item_new {
  margin-top: 16px;
}

.dish__textarea::placeholder {
  color: #b7b7b7;
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dish__calories {
  margin-bottom: 20px;
  margin-left: 20px;
  color: #303030;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.button_submit {
  transition: 0.3s ease;
  width: 100%;
  min-height: 46px;
  color: #303030;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 16px;
  background: #05ff00;
}

.input_grey::placeholder {
  color: #b7b7b7;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.choices {
  margin-bottom: 12px !important;
}

.choices__list--single {
  padding: 0;
}

.choices[data-type*="select-one"]:after {
  transition: 0.3s ease-out;
  width: 26px;
  margin-right: 10px;
  height: 8px;
  background-repeat: no-repeat;
  background-image: url(../images/arrow.svg);
  border-style: none;
}

.choices[data-type*="select-one"].is-open:after {
  width: 26px;
  height: 8px;
  top: 62%;
  margin-right: 10px;
  background-repeat: no-repeat;
  transform: rotateX(180deg);
  background-image: url(../images/arrow.svg);
  border-style: none;
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__inner {
  color: #b7b7b7;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: #fff;
  height: 40px;
  min-height: 40px !important;
  padding: 13px 20px;
  overflow: hidden;
  border-radius: 20px;
  border: 1.2px solid #303030;
}

.filters-choices .choices__inner {
  height: 36px;
  padding: 5px 0px 0px 20px;
  min-height: 36px;
}

.filters-choices .choices[data-type*="select-one"] .choices__input {
  padding: 10px 10px 10px 24px;
}

.filters-choices .choices__list--dropdown .choices__item {
  padding: 10px 10px 10px 24px;
}

.is-open .choices__inner {
  border-radius: 20px;
  border: 1.2px solid #303030;
}

.is-flipped.is-open .choices__inner {
  border-radius: 20px;
  border: 1.2px solid #303030;
}

.is-focused .choices__inner {
  border-radius: 20px;
  border: 1.2px solid #303030;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: #05ff00;
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown .choices__item {
  padding: 10px 10px 10px 28px;
  height: 35px;
}

.choices[data-type*="select-one"] .choices__input {
  display: block;
  width: 100%;
  padding: 10px 10px 10px 28px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  margin: 0;
}

.choices__list--dropdown .choices__list {
  max-height: 200px;
}

.choices__list--dropdown .choices__list::-webkit-scrollbar {
  width: 4px;
  background-color: #fcfcfc;
}

.choices__list--dropdown .choices__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d9d9d9;
}

.choices__list--dropdown {
  opacity: 1;
  margin-top: 1px;

  border-radius: 20px;
  border: 1.2px solid #303030;
}

.is-open .choices__list--dropdown {
  opacity: 1;
  margin-top: 1px;
  border-radius: 20px;
  border: 1.2px solid #303030;
}

.ingredient__info {
  margin-bottom: 12px;
}

.input_pfc {
  display: block;
  position: relative;
  margin-bottom: 12px;
}

.input_relative_last {
  margin-bottom: 16px;
}

.input__relative {
  position: relative;
}

.cal {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  right: 20px;
  color: #303030;
  text-align: right;
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.steps {
  margin-left: 8px;
  margin-bottom: 20px;
}

.step_radio {
  margin-right: 8px;
}

.step__margin {
  margin-left: 8px;
}

.step__title {
  color: #303030;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}

.steps-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.li {
  color: #303030;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.error {
  display: none;
  color: #303030;
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 16px;
  border: 1.2px solid #f00;
  padding: 16px 20px;
  text-align: center;
  margin-bottom: 20px;
}

.error_active {
  display: block;
}

.percentages {
  margin-left: 8px;
}

.percentages-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;
}

.brain-animation {
  opacity: 1;
  transition: opacity 0.5s;
  background-color: #fff;
  position: fixed;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
}

.brain-animation_hidden {
  opacity: 0;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 18px;
  height: 18px;
  border: 1.5px solid #000000;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

input[type="radio"]:checked + label::before {
  border: 1.5px solid #000000;
  background-color: #05ff00;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (hover: hover) {
  .dish__add:hover {
    border: 1.5px dashed #05ff00;
  }

  .dish__remove:hover {
    border: 1.5px dashed #ff0831;
  }

  .button_submit:hover {
    color: #fff;
  }
}

@media (hover: none) {
  .dish__add {
    border: 1.5px dashed #05ff00;
  }
  .dish__remove {
    border: 1.5px dashed #ff0831;
  }
}
